/*!
 * Written by Michael Heple Web Design
 * Visit us at michaelheple.com
 */
 
@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);

body { 
    padding-top: 65px; 
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h1, h2, h3 { 
    font-family: 'Patua One', cursive;
    color: #3f435e;
    text-transform:uppercase;
}

h3:before {
    content: '\003c';
}

.active a:before {
    content: '\003c \00a0';
}

h3:after, .active a:after {
    content: '\003e';
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
}

hr {
    border-top: 1px solid #575757;
}

.nav {
    font-family: 'Patua One', cursive;
    color: #3f435e;
}

.navbar-default .navbar-nav>.active>a {
    color: #9a464c;
}

#socialtop {
    font-size:20px;
}

.banner {
    margin-left: -15px;
}

.banner img {
    width:100%;
}

.page-content {
    text-align: center;
}

#greeting, .home-section { 
    margin-top: 75px;
}

.home-section>p, .home-section .row{
    margin: 40px 0 50px 0;
    font-weight: 300;
    font-size: 14px; 
}
#greeting p {
    text-transform:uppercase;
    font-size: 20px;
}

.skill-item span.fa {
    padding: 10px 0 20px 0;
    color: #9a464c;
}

footer {
    background-color: #e7e7e7;
    text-align: center;
    padding: 50px 0;
    font-size: 18px;
    text-transform:uppercase;
}

footer h3:before, footer h3:after {
    content: none;
}

footer h3, footer a {color: #333;}

footer p {padding-top:5px;}

#socialbottom {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

#socialbottom li {
    display:inline;
    font-size: 36px;
    padding: 0 10px;
}

/* Media Queries */
@media (min-width: 768px) {
    
    .page-content {
        padding: 0 105px;
    }
    
}
